* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Calibri", "BigBlue_TerminalPlus NFM", "Poppins";
  background: rgb(255, 255, 255);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  right: 25%;
  z-index: 999;

  /* animation start */
  opacity: 0;
  top: 50%; /* goal 40% */
}
